// $colour-main: #615f59;
$colour-main: #2f2f2a;
$colour-hero: #1f8dd6;
$colour-alt: #fffcf5;
$text-size: 16px;
$line-height: 24px;
$padding-default: .8em;
$padding-layout: $padding-default*4;
$menu-width: 200px;
$font-default: 'Georgia', 'Times New Roman', Times, serif;
$font-heading: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


$slick-arrow-color: $colour-main;
$slick-arrow-size: $padding-default*2;
$slick-dot-color: $colour-main;
$slick-dot-color-active: $colour-hero;
$slick-dot-size: $text-size;
$slick-padding: $padding-default*3;
