$colourMain: #191818;
$colourHero: #1f8dd6;
$colourAlt: #fff;
$textSizeDefault: 14px;
$paddingDefault: .8em;
$menu-width: 200px;


$slick-arrow-color: #333;
$slick-arrow-size: $paddingDefault*2;
$slick-dot-color: #333;
$slick-dot-color-active: darken($slick-dot-color, 20%);
$slick-dot-size: $textSizeDefault;
$slick-padding: $paddingDefault*3;
